<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="user-hello"></div>

{{ gamename|json_script:"gamename" }}
<script>
    console.log('im here')
    const gameName = JSON.parse(document.getElementById('gamename').textContent)
    const gameSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/game/' + gameName + '/'
    );

    gameSocket.onmessage = (e) => {
        const data = JSON.parse(e.data);
        console.log(data)
        document.querySelector('#user-hello').innerHTML = (data.tester)
    }
</script>
</body>

</html>